<p>
	Hướng dẫn: Sau khi hoàn tất đặt hàng, xin vui lòng chuyển tiền vào tài khỏan của OnOff tại 1 trong các ngân hàng dưới đây.
</p>

<p>Tài khoản ngân hàng OnOff:</p>

<ul>
	<p>1.	Ngân hàng Đông Á<p>
	<li>Tên tài khoản:</li>
	<li>Số tài khoản:</li>
</ul>

<p><strong>Chú ý:</strong></p>
<p><strong>*</strong> Khi chuyển khoản, ghi lại Mã số Đơn hàng được thanh toán vào phần ghi chú của lệnh chuyển khoản. Sau đó xin gọi (08) xxx-xxxx để thông báo với OnOff.</p>
<p><strong>*</strong> Quý khách vui lòng tự chịu phí chuyển khoản.</p>
<p>Đơn hàng của Quý khách sẽ được xử lý trong 24 giờ làm việc từ khi tiền đã chuyển vào tài khoản OnOff.</p>
