<% content_for :page_title do %>
  <%= t(:option_types) %>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<div id="new_option_type"></div>

<ul id="option_type_list">
  <% @option_types.each do |option_type| %>
    <li class="option_type"><%= link_to(option_type.presentation, edit_object_url(option_type)) %></li>
  <% end %>
</ul>

