h1, h2, h3, h4, h5, h6 {
	color: #666666;
}

fieldset legend, #sidebar .sidebar-title {
	color: #666666;
}

#admin-menu {
		background-color: #000;
}

#admin-menu li a:hover, #admin-menu li.selected a {
	background-color: #666;
}

#admin-menu li a:hover:after, #admin-menu li.selected a:after {
	//border-top: 5px solid #666;
	border-top: none;
}

#sub-menu {
	background-color: #666;
}

#sub-menu li.selected a:after, #sub-menu li a:hover:after, #sub-menu #admin-menu li.selected a:after, #admin-menu #sub-menu li.selected a:after {
	//border-top: 5px solid #666;
	border-top: none;
}

#sub-menu li a {
	padding: 12px 5px;
	margin: 0px 15px;
}

#sub-menu li.selected a {
	height: 30px;
	border-bottom: 2px solid #54afff;
}

#content-header {
	background: #eeeeee;
	border-bottom: 1px solid #cccccc;
}

aside#sidebar nav.menu ul.sidebar li a {
	color: #888;
}

aside#sidebar nav.menu ul.sidebar li.active a {
	color: #5498da;
	border-bottom-color: #5498da;
}

aside#sidebar nav.menu ul.sidebar li a:hover {
	color: #5498da;
}

.select2-container .select2-choice {
	background-color: transparent;
	border: 1px solid #cee1f4 !important;
	color: #5498da !important;
}

table th input[type="number"], table th input[type="text"], table th .select2-search input, .select2-search table th input, table th .select2-container-multi .select2-choices, .select2-container-multi table th .select2-choices, table td input[type="number"], table td input[type="text"], table td .select2-search input, .select2-search table td input, table td .select2-container-multi .select2-choices, .select2-container-multi table td .select2-choices {
	box-shadow: inset 1px 1px 0px #ccc;
}
