<% id = Time.now.to_i %>
<% if @image.valid? %>
	<% html = %Q(
		<div class="image-detail">
  		<div class="image-view">
  			#{ image_tag @image.attachment.url(:product)}
  		</div>
  		<input id="product_images_attributes_#{ id }__destroy" name="product[images_attributes][#{ id }][_destroy]" type="hidden" value="0">
  		<a class="remove-image-link" href="#" onclick="remove_fields(this); return false;">remove</a>
      #{ select_tag "product_images_attributes_#{ id }_color", options_for_select(@color_options), { :name => "product[images_attributes][#{ id }][color]", :class => 'chosen_field' } }
  		<p>
        #{ radio_button_tag "product[cover_image_id]", @image.id }
        #{ label_tag "Chọn làm ảnh chính" }
      </p>
    </div>
		<input id="product_images_attributes_#{ id }_id" name="product[images_attributes][#{ id }][id]" type="hidden" value="#{ @image.id }">
  ) %>
  $('#images-list form.edit_product').append("<%= escape_javascript(raw(html)) %>");
  $(".chosen_field#product_images_attributes_<%= id %>_color").chosen({ fb_ui_menu: true });
  $('#product_images_attributes_<%= id %>_color_chzn .new_color_link').on('click',add_new_color);
<% else %>
	alert('fail to upload')
<% end %>
