body#default {
	height: 100%;
	width: 100%;
	min-width: 1000px;
	overflow: auto;
	font-family: 'KnockMiddle';
}

body#default p {
	font-family: 'PT Sans';
}

#container {
	width: 1000px;
	margin: auto;
}

/* -----------------------------HEADER------------------------- */

#header {
	position: fixed;
	top: 10px;
	display: block;
	height: 90px;
	margin: 0px;
	z-index: 10000000;
	width: 100%;
	min-width: 1000px;
}

#header.black {
	background-color: rgba(91,91,91,0.6);
	color: #fff;
}

#header.white {
	/*background-color: #e0e4e7;*/
	background-color: rgba(224,228,231,0.7);
	color: #454d50;
}

#header nav #main-nav-bar li a {
	font-size: 24px;
}

#header.black a {
	color: #fff;
}

#header.white a {
	color: #454d50;
}

#header #header-container {
	width: 1000px;
	margin: auto;
}

nav ul#main-nav-bar {
	border-bottom: none;
	margin-bottom: 0;
	margin-top: 2px;
}

#header nav #main-nav-bar li a.active {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid;
}

#header nav #main-nav-bar li a.nav-buttons{
	vertical-align: middle;
	display: inline-block;
	margin: 0px 35px;
	text-align: center;
	padding: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#header nav #main-nav-bar li:first-child a.nav-buttons {
	margin-left: 0px;
}

#header nav #main-nav-bar li:last-child a.nav-buttons {
	margin-right: 0px;
}

/* ------------------------------------------------------ */

.container #wrapper {
	position: relative;
	padding-top: 110px;
	min-width: 1000px;
	height: 100%;
}

