body#default {
	height: 100%;
	width: 100%;
	min-width: 960px;
	overflow: auto;
}

.container {
	min-width: 960px;
}

#header {
	position: fixed;
	top: 0px;
	display: block;
	height: 110px;
	margin: 0px;
	z-index: 10000000;
	min-width: 960px;
	background: #fff;
}

.container #wrapper {
	position: relative;
	padding-top: 110px;
	min-width: 960px;
	height: 100%;
}

footer#footer {
	min-width: 960px;
	border-top: none;
	display: block;
	float: none;
	position: relative;
	background: #f9f9f9;
	margin: auto;
}

.container footer#footer {
	border-top: none;
}

nav ul#main-nav-bar {
	border-bottom: none;
	margin-bottom: 0;
}

ul#main-nav-bar li a.nav-buttons{
	vertical-align: middle;
	display: inline-block;
	margin: 0px 45px;
	text-align: center;
}

ul#main-nav-bar li:first-child a.nav-buttons {
	margin-left: 0px;
}

ul#main-nav-bar li:last-child a.nav-buttons {
	margin-right: 0px;
}
