<footer id="footer" class="sixteen columns" data-hook>
	<ul id="main-nav-bar" class="inline">
		<li><%= link_to image_tag('gray-logo.png'), root_path, :class => 'nav-buttons'%></li>
		<li><%= link_to image_tag('footer-contact.png'), root_path, :class => 'nav-buttons'%></li>
		<li><%= link_to image_tag('footer-recruitment.png'), root_path, :class => 'nav-buttons'%></li>
		<li><%= link_to image_tag('footer-terms-of-services.png'), root_path, :class => 'nav-buttons'%></li>
	</ul>
</footer>
