%ul#main-nav-bar.inline
	%li
		= link_to image_tag('logo.png'), root_path, :class => 'nav-buttons'
	%li
		= link_to image_tag('nav-collections.png'), '#', :class => 'nav-buttons'
	%li
		= link_to image_tag('nav-online-shop.png'), products_path, :class => 'nav-buttons'
	%li
		= link_to image_tag('nav-promotion.png'), '#', :class => 'nav-buttons'
