- @header_color ||= 'black'
- logo = @header_color == 'black' ? 'logo-white.png' : 'logo.png'

%ul#main-nav-bar.inline
	%li
		= link_to image_tag(logo), root_path, :class => 'nav-buttons'
	%li
		= link_to t('nav.collections'), '#', :class => 'nav-buttons'
	%li
		= link_to t('nav.online_shop'), products_path, :class => 'nav-buttons'
	%li
		= link_to t('nav.promotion'), '#', :class => 'nav-buttons'
